@import "colors";

@mixin prefix($declarations, $prefixes: ()) {
	@each $prop, $val in $declarations {
		@each $pre in $prefixes {
			#{'-' + $pre + '-' + $prop}: $val;
		}
		#{$prop}: $val;
	}
}

html {
	margin: 0px;
}

body {
	position: relative;
	background: $berylGreen;
	margin: 0px;
	padding: 0px;
	font: 16px sans-serif;
}

#body {
	background: $white;
	padding: 10px 20px 20px 20px;
	margin: 0px 30px 20px 30px;
	height: 100%;
}

input, button {
	font-size: 16px;
	border-radius: 4px;
	outline: none;
	border: 1px solid grey;
}

button, input[type="button"], input[type="submit"] {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
}
