@import "colors";
@import "fonts";

@mixin prefix($declarations, $prefixes: ()) {
	@each $prop, $val in $declarations {
		@each $pre in $prefixes {
			#{'-' + $pre + '-' + $prop}: $val;
		}
		#{$prop}: $val;
	}
}

html {
	margin: 0px;
}

body {
	position: relative;
	background: $berylGreen;
	font: $fontSize sans-serif;
    margin: 0px;
}

#header {
    margin: 10px 0 0 0;
}

#body {
    margin: 0 30px 30px 30px;
	height: 100%;
}

#footer {
   margin: 30px;
   text-align: center;
}

#body {
    background: $white;
    padding: 18px;
}

input, button {
	font-size: $fontSize;
	border-radius: 4px;
	outline: none;
	border: 1px solid grey;
	margin: 2px;
}

button, input[type="button"], input[type="submit"] {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
}

input:disabled, input:disabled {
    cursor: default;
}

textarea {
	font-size: $fontSize;
}

pre {
	white-space: pre-wrap;
}

a {
	text-decoration: none;
	color: $logCabin;
}

h1 {
	font-size: 80px;
    margin: 0;
	text-align: center;
}

h1 img {
    width: 400px;
}

p {
	margin: 0;
}

#error {
    color: $error;
}
