@import "common";

a {
	color: $logCabin;
}

h1 {
	font-size: 80px;
	margin: 0px 0px 50px 0px;
	text-align: center;
}

h2 {
	display: inline-block;
	font-size: 50px;
	text-indent: 0;
	margin: 0px;
}

h3 {
	font-size: 20px;
	display: inline;
}

img {
	@include prefix((
		user-select: none
	), webkit moz ms);
}

.indented {
	text-indent: 200px;
}

form {
	display: inline;
}

.error {
	color: $error;
}

.upvote, .downvote {
	min-width: 30px;
}

.upvote.voted {
	background-color: green;
}

.downvote.voted {
	background-color: red;
}

.big {
	font-size: 30px;
}

#contentLeft {
	display: inline-block;
	width: 40%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

#contentRight {
	display: inline-block;
	width: 40%;
	margin: auto;
	text-align: center;
	vertical-align: middle;
}

#suggestionsContainer {
	background: $berylGreen;
	padding: 10px;
}

.suggestion {
	background: $white;
	padding: 4px;
	word-wrap: break-word;
	border: 1px solid $black;
	margin: 10px 10px 10px 10px;
}

.voteUI {
	display: inline-block;
	text-align: center;
	text-indent: 0;
}

.suggestion img {
	display: inline-block;
	width: 120px;
	height: 80px;
}

.suggestionBody {
	display: inline-block;
}

.suggestion .title {
	font-size: 22px;
}


#tags {
	margin-left: 10px;
	margin-bottom: 20px;
}

.tag {
	padding: 5px;
	border: 1px solid grey;
	border-radius: 3px;
	margin-right: 5px;
	cursor: pointer;
}

.tagText:before {
	content: "#";
}

.tag:hover {
	background: red;
}

#tags input {
	font-size: 20px;
	padding: 5px;
}

#tags button {
	margin: 5px;
}

#newTag {
	cursor: pointer;
}

#dark {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	background: $black;
	opacity: .8;
	z-index: 1;
	overflow: hidden;
	@include prefix((
		cursor: zoom-out
	), webkit moz ms);
}

#photos {
	background: $berylGreen;
}

#photosGrid {
	display: flex;
	max-height: 250px;
	overflow: hidden;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 5px;
}

#photosGrid .photo {
	position: relative;
	border-radius: 3px;
	text-align: center;
	margin: 5px;
	width: 320px;
	height: 240px;
}

#photosGrid .photo[draggable="false"] {
	@include prefix((
		cursor: zoom-in
	), webkit moz ms);
}

.photo .photoImg {
	display: block;
	position: absolute;
	width: 320px;
	height: 240px;
	z-index: 0;
}

.photoImg.enlarged {
	position: fixed;
	width: 75%;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	z-index: 2;
}

.photo .photoOverlay {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 10;
}

.photoOverlay .dragHandle {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	width: 100px;
}

.photoOverlay .deleteButton {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	cursor: pointer;
}

#photosGrid .photo[draggable="true"] .dragHandle {
	cursor: pointer;
}

#newPhoto {
	padding-top: 30px;
	width: 320px;
	height: 240px;
	margin: 5px;
	text-align: center;
	position: relative;
}

#newPhoto input[type="file"] {
	width: .1px;
	height: .1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#newPhoto button {
	display: inline-block;
	color: $white;
	background: $mallard;
	margin-top: 30px;
	padding: 10px;
	border-radius: 2px;
	border: none;
}

#newPhoto button:hover {
	background: $logCabin;
}

#newPhoto input {
	margin-top: 30px;
}

#newPhoto label {
	display: inline-block;
	position: relative;
	color: $white;
	background: $mallard;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
}

#newPhoto label:hover {
	background: $logCabin;
}

#suggestionBody #info {
	text-align: right;
	margin-right: 50px;
}

#description {
	background: $berylGreen;
	margin: 25px 0 25px 0;
}

#description p {
	white-space: pre-wrap;
	display: inline-block;
	padding: 5px;
	margin: 0px;
	width: 100%;
}

.comment {
	margin-bottom: 3px;
}

.commentThread {
	margin-bottom: 15px;
}

.replies {
	margin-left: 100px;
}
