.*
!.gitignore
!.editorconfig
config.json

dump/*
!dump/clearVotes.sql
!dump/db.sql
!dump/tables.sql

libs
node_modules
features.txt
logs
tests
todo.txt
uploads/*
view/style/*.css
view/style/*.css.map
