include voteUI

mixin comment(c)
  div.comment(id="comment_" + c.id)
    + voteUI("1_" + c.id, c.score, c.dir, user)
    div.commentContainer
      div.commentHeader
        b
          if(c.author)
            a(href="/p/"+c.authorId) #{c.author}
          else
            | [deleted]
          | &nbsp;at #{c.time}
      p.commentBody
        | #{c.content}
      div.commentFooter
        a(href="javascript:void(0)" onclick="report(event)" cid=""+c.id) Report
        if c.authorId == user.id
          | &nbsp;
          a(href="javascript:void(0)" onclick="editComment(event)") Edit
      div.commentFooter.editFooter(style="display: none")
        a(href="javascript:void(0)" onclick="saveCommentEdit(event)" cid=""+c.id) Save
        | &nbsp;
        a(href="javascript:void(0)" onclick="cancelCommentEdit(event)") Cancel
