include head

doctype html
html
  +head()
  body
    include header
    div#contentLeft
      input.big(type="submit" value="Discover Anonymously" onclick="location.href='/all'")
    div#contentRight
      form(name="login" action="/login" method="POST")
        input.big(type="text" name="username" placeholder="Username" required)
        br
        input.big(type="submit" value="Log In")
