extends layout.pug

block content
  div#contentLeft
    input(type="submit" value="Discover Anonymously" onclick="location.href='/all'")
  div#contentRight
    form(name="login" method="POST" action="" onsubmit="onLogin(event)")
      input(type="text" name="username" placeholder="Username" required)
      br
      input(type="password" name="password" placeholder="Password" required)
      br
      input(type="submit" value="Log In")
    div#error
      span#errorText
      br
      a(href="/recover/password" style="display: none") Forgot your password?

block scripts
  script(src="/libs/jquery.js")
  script(src="/view/scripts/indexScript.js")
