include footer

doctype html
html
  head
    title Suggespot &middot; Discover new places and experiences
    meta(charset="utf-8")
    block stylesheet
      link(rel="stylesheet" type="text/css" href="/style/style.css")
  body
    div#dark
    div#header
      block header
        h1
          a(href="/")
            img(src="/view/svg/logo.svg")
    div#body
      block content
    block footer
      + footer()
    block scripts
