doctype html
html
  head
    title Suggespot &middot; Discover new places and experiences
    meta(charset="utf-8")
    block stylesheet
      link(rel="stylesheet" type="text/css" href="/style/style.css")
  body
    div#dark
    div#header
      block header
        h1
          a(href="/")
            img(src="/view/svg/logo.svg")
    div#body
      block content
    div#footer
      span#links
        a(href="/terms") Terms of Use
        | &nbsp;
        a(href="/privacy") Privacy Policy
      span#copyright
        | &nbsp;&copy; #{(new Date).getFullYear()} Suggespot &ndash; All Rights Reserved
    block scripts
