extends layout.pug

block content
  h2 Privacy Policy
  br
  h3 Cookies
  p Our website places "cookies" on your computer's hard drive through your web browsers to keep track of your identity for the purposes of saving your shopping cart and saving your logged-in state so that you do not have to log in each time you visit our website. "Cookies" allow our website to recognize your computer when you access the website. If you would like to prevent the placement of cookies on your computer, or remove cookies from your computer, please access the "Help" portion of your browser or contact your browser provider. Please be advised that if you block or remove cookies from your computer, the website will not recognize your computer and you may not have access to all portions of the website.
  h3 Links to Other Websites
  p This website contains links to other websites. suggespot.com is not responsible for the privacy and security practices of these websites.
