include suggestionUI
doctype html
html
	include head
	body
		div#body
			include header
			h2 #{name}'s profile
			p user for #{timeSinceRegistered}
			if suggestions && suggestions.length
				h2
					| My suggestions&nbsp;(#{suggestions.length})
				br
				+ suggestionUI(suggestions, true)
