include suggestionUI
include tagUI

doctype html
html
	include head
	body
		div#body
			include header
			h2 #{name}'s profile
			p user for #{timeSinceRegistered}
			if tags
				h2 Followed Tags
				br
				+ tagsUI(tags, false, "Edit")
			if suggestions && suggestions.length
				h2
					| My suggestions&nbsp;(#{suggestions.length})
				br
				+ suggestionUI(suggestions, true)
		script(src="/libs/jquery.js")
		script(src="/view/scripts/tagScript.js")
		script(src="/view/scripts/profileScript.js")
