extends layout.pug

include tagUI

block content
  h2 #{name}'s profile
  p user&nbsp;
    if timeSinceRegistered.length > 0
      | for #{timeSinceRegistered}
    else
      | since now
  br
  if tags
    h2 Followed Tags
    br
    if user && id == user.id
      + tagsUI(tags, false, "Edit")
    else
      + tagsUI(tags, true)
  h2 #{name}'s suggestions
  br
  #suggestionsContainer

block scripts
  script.
    var authorId = "#{id}";
  script(src="/libs/jquery.js")
  script(src="/view/scripts/voteUI.js")
  script(src="/view/scripts/tagScript.js")
  script(src="/view/scripts/profileScript.js")
