include head
include tagUI

doctype html
html
	+head()
	body
		div#body
			include header
			h2 #{name}'s profile
			p user for #{timeSinceRegistered}
			if tags
				h2 Followed Tags
				br
				+ tagsUI(tags, false, "Edit")
			h2 #{name}'s suggestions
			br
			#suggestionsContainer
		script.
			var authorId = "#{authorId}";
		script(src="/libs/jquery.js")
		script(src="/view/scripts/tagScript.js")
		script(src="/view/scripts/profileScript.js")
