extends layout.pug

block content
  h2 Recover Password
  br
  form(method="POST" action="" onsubmit="onFormSubmit(event)")
    input(type="email" name="email" placeholder="Email" required)
    br
    input(type="submit" name="Submit")

block scripts
  script(src="/libs/jquery.js")
  script(src="/view/scripts/recoverPasswordScript.js")
