body {
  background: #E4E6C3;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

#body {
  background: #FFFFFF;
  padding: 10px 20px 20px 20px;
  margin: 0px 30px 20px 30px;
  height: 100%; }

a {
  color: #1A1F16; }

h1 {
  font-size: 80px;
  margin: 0px 0px 50px 0px;
  text-align: center; }

h2 {
  display: inline-block;
  font-size: 50px;
  text-indent: 0; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.indented {
  text-indent: 200px; }

form {
  display: inline; }

input, button {
  border-radius: 10px;
  outline: none;
  border: 2px solid grey; }

button, input[type="button"], input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  font-size: 16px; }

.error {
  color: #FF0000; }

.upvote.voted {
  background-color: green; }

.downvote.voted {
  background-color: red; }

.big {
  font-size: 30px; }

#contentLeft {
  display: inline-block;
  width: 40%;
  margin: auto;
  text-align: center;
  vertical-align: middle; }

#contentRight {
  display: inline-block;
  width: 40%;
  margin: auto;
  text-align: center;
  vertical-align: middle; }

#map {
  height: 800px;
  width: 100%; }

.suggestion {
  word-wrap: break-word;
  border: 1px solid #000000;
  margin: 10px 10px 10px 10px; }

.suggestion .title {
  font-size: 22px; }

.suggestion img {
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 80px; }

.voteUI {
  display: inline-block;
  text-align: center;
  text-indent: 0; }

#suggestionBody {
  display: inline-block; }

#photos {
  background: #E4E6C3; }

#photosGrid {
  display: flex;
  max-height: 252px;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px; }

#photosGrid .photo {
  position: relative;
  border-radius: 3px;
  border: 1px solid #000000;
  margin: 5px; }

.photo img:first-child {
  display: block;
  width: 320px;
  height: 240px; }

.photo .dragHandle {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.photo:hover .dragHandle {
  visibility: visible; }

#photosGrid .photo[draggable="true"] .dragHandle {
  cursor: pointer; }

#newPhoto {
  width: 320px;
  height: 240px;
  margin: 5px;
  text-align: center;
  position: relative; }

#newPhoto input[type="file"] {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

#newPhoto button {
  display: inline-block;
  color: #FFFFFF;
  background: #1E441E;
  margin-top: 30px;
  padding: 10px;
  border-radius: 2px;
  border: none; }

#newPhoto button:hover {
  background: #1A1F16; }

#newPhoto input {
  margin-top: 30px; }

#newPhoto label {
  display: inline-block;
  position: relative;
  top: 30%;
  color: #FFFFFF;
  background: #1E441E;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px; }

#newPhoto label:hover {
  background: #1A1F16; }

#suggestionBody #info {
  text-align: right;
  margin-right: 50px; }

.comment {
  margin-bottom: 3px; }

.commentThread {
  margin-bottom: 15px; }

.replies {
  margin-left: 100px; }

/*# sourceMappingURL=style.css.map */
