extends layout.pug

block content
  h2 Terms of Use
  p rqpoiuwerpoiuqeroiquewropiuweroiureuioruiorweureopiii poquwer ouqwe nmbc xvm,nbzxcv,mbxcvmbxcv mnbv mnzxc nmcx nvZXC nm vzx vnmzxcv nv xvnbm vbnxc vzxcvzx bv vbvn mnbvzxc mvnxcm nbcn bvCnvc nbvvxcnmvxcccbnmXvMXCnv ncvZ nnZXCN zxcn   nXVn  Nbnb vMNCV nbvzX Nmbv CNvZXNVMn v
