mixin voteUI(tid, upvotes, dir)
  span.voteUI(tid=tid)
    button.upvote(class= dir === 1 ? "voted" : undefined) +
    | &nbsp;(
    span.upvoteCount #{upvotes}
    | )&nbsp;
    button.downvote(class= dir === -1 ? "voted" : undefined) -
    | &nbsp;