mixin voteUI(tid, upvotes, dir, canVote)
	div.voteUI(tid=tid)
		if canVote
			button.upvote(class= dir === 1 ? "voted" : undefined) +
			| &nbsp;
		div.upvoteCount #{upvotes}
		if canVote
			| &nbsp;
			button.downvote(class= dir === -1 ? "voted" : undefined) -
		| &nbsp;
