mixin voteUI(tid, upvotes, dir, user)
	div.voteUI(tid=tid)
		if user
			button.upvote(class= dir === 1 ? "voted" : undefined) +
			| &nbsp;
		div.upvoteCount #{upvotes}
		if user
			| &nbsp;
			button.downvote(class= dir === -1 ? "voted" : undefined) -
		| &nbsp;